@{
    ViewData["Title"] = "Principal";
}

<div class="logoprincipal" style="">
    <img src="/assets/images/logo-redowl.jpeg" class="img-fluid" style="border-radius: 10px;">
</div>

@section css {
<style>
    .app-main{
        background-image: url("/assets/images/cubbas.png");
        background-size: cover;
    }

    .logoprincipal img{
        width: 350px;
        display: block; 
        margin: auto;
    }

    .logoprincipal{
        width: 100%;
    }

    @@media screen and (max-width: 620px) {
        .logoprincipal img{
        width: 250px;
        display: block; 
        margin: auto;
        }
    }
</style>
}