@{
    ViewData["Title"] = "Nuevo Emplado";
}

@await Html.PartialAsync("_MensajeExito")
<form asp-controller="Empleado" asp-action="Nuevo" method="post">
    @await Html.PartialAsync("_EmpleadoForm")
</form>

@section Scripts
{
    
<script>
    $(function(){
        $('.select2').select2({
            tags: true
        });
        
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      
    })
    });
    
</script>
}